.sign_up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;

        h2 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: capitalize;
        }

        .wrapper_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .input_wrapper {
                display: flex;
                flex-direction: column;
                gap: 7px;
                width: 100%;

                label {
                    color: #3b3b3b;
                    text-transform: capitalize;
                }

                .email_input {
                    border: 1px solid #ced4da;
                    outline: none;
                    height: 50px;
                    width: 32.5rem;
                    border-radius: 8px;
                    padding: 10px 16px 10px 16px;
                    box-shadow:
                        0px 0px 1px 0px rgba(33, 37, 41, 0.08),
                        0px 2px 2px 0px rgba(33, 37, 41, 0.06);

                    &:focus {
                        border: 1px solid #1f243c;
                    }
                }

                .email_input {
                    letter-spacing: 0.5008px;
                    word-spacing: 1px;
                    font-size: 16px;

                    &::placeholder {
                        font-size: 14px;
                    }

                    &:focus {
                        font-size: 16px;
                    }
                }
            }

            .input {
                width: 32.5rem;
                display: flex;
                align-items: center;
                padding: 10px 16px 10px 16px;
                border: 1px solid #ced4da;
                box-shadow:
                    0px 0px 1px 0px rgba(33, 37, 41, 0.08),
                    0px 2px 2px 0px rgba(33, 37, 41, 0.06);
                outline: none;
                height: 50px;
                border-radius: 8px;
                cursor: text;

                &:focus-within {
                    border: 1px solid #1f243c;
                }

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 44px;
                    letter-spacing: 0.5008px;
                    font-size: 16px;

                    &::placeholder {
                        position: relative;
                        top: 3px;
                        font-size: 14px;
                    }

                    &:focus {
                        font-size: 16px;
                    }
                }

                .visibility_icon {
                    cursor: pointer;
                    color: rgb(61, 58, 58);
                    font-size: 1rem;

                    &:hover {
                        color: #1f243c;
                    }
                }
            }
        }

        .submit_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            button[type="submit"] {
                width: 32.5rem;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                text-align: center;
                transition: all 0.5s ease-in-out;
                border: 0.0625rem solid #1f243c;
                background-color: #1f243c;
                color: #fff;
                font-size: 18px;
                height: 50px;
                font-weight: 500;
                cursor: pointer;
                text-transform: capitalize;
                margin-top: 1%;

                &:hover {
                    background-color: #090a13;
                    color: #e6e5e5;
                }
            }
        }

        .or_sign_in {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            text-transform: capitalize;
            gap: .5rem;

            .sign_in_link {
                display: flex;
                justify-content: center;
                color: blue;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        
        .error,
        .main_error {
            color: red;
            transition: all 2s ease-in-out;
            text-transform: capitalize;
        }

        .error {
            font-size: 12px;
        }

        .main_error {
            font-size: 13.5px;
            background-color: rgba(255, 0, 0, 0.1);
            border-radius: 8px;
            padding: 0.8rem 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 900px) {
    .sign_up{
        form{
            .wrapper_container{
                .input_wrapper{
                    .email_input{
                        width: 25rem;
                    }
                }

                .input{
                    width: 25rem
                }
            }

            .submit_btn{
                button {
                    width: 25rem;
                }
            }
        }
    }
}